@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@300;400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700;9..144,900&display=swap');
/* font-family: 'Barlow',
sans-serif; */


/* font-family: 'Fraunces',
serif; */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {

    --Softred: hsl(7, 99%, 70%);
    --Yellow: hsl(51, 100%, 49%);
    /* (graphic design text) */
    --Darkdesaturatedcyan: hsl(167, 40%, 24%);
    /* (photography text) */
    --Darkblue: hsl(198, 62%, 26%);
    /* (footer) */
    --Darkmoderatecyan: hsl(168, 34%, 41%);




    --Verydarkdesaturatedblue: hsl(212, 27%, 19%);
    --Verydarkgrayishblue: hsl(213, 9%, 39%);
    --Darkgrayishblue: hsl(232, 10%, 55%);
    --Grayishblue: hsl(210, 4%, 67%);
    --White: hsl(0, 0%, 100%);
}

body {
    font-size: 18px;
}

main {
    width: 100%;
    height: auto;
}



.base-container {
    width: 100%;
    height: 100vh;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5rem;
}

.base-container h2,
.container-three h2 {
    display: none;
}

.bg {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top top;
    position: absolute;
    top: 0%;
    z-index: -1;

}


nav {
    display: flex;
    align-items: center;
    padding: 2rem 2rem;
    /* border-bottom: 1px solid red; */
    width: 100%;

}

.menu {

    display: flex;
    align-items: center;
    margin-left: auto;
    gap: 1.5rem;


}

.menu li {
    list-style: none;
    cursor: pointer;
    padding: 1rem 2rem;
    border-radius: 30px;
}

.menu li a {
    text-decoration: none;
    font-family: 'Barlow',
        sans-serif;
    font-size: .9rem;
    color: var(--White);
}

.menu li:hover {
    background-color: rgba(255, 255, 255, .3) !important;
}

.contact {
    background-color: var(--White) !important;
}

.contact:hover {
    background-color: rgba(255, 255, 255, .3) !important;
}

.contact:hover a {
    color: var(--White) !important;
}

.contact a {
    color: var(--Verydarkdesaturatedblue) !important;
    font-weight: 700;
    font-family: 'Fraunces',
        serif !important;
}

.hamburger-icon {
    display: none;
    margin-left: auto;
}

.header-caption {
    font-family: 'Fraunces',
        serif !important;
    font-weight: 900;
    color: var(--White);
    font-size: 3rem;
    letter-spacing: 1.1rem;
    text-transform: uppercase;
    user-select: none;

}



.container-one {
    width: 100%;
    height: auto;
    ;

    display: flex;
    flex-wrap: wrap;
}

.container-one>* {
    width: 50%;

}

.info-img {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 10rem;
    gap: 3rem;
    background-color: var(--White);
}

.info-img h2 {
    font-family: 'Fraunces',
        serif !important;
    font-size: 2.5rem;
    font-weight: 900;
    color: var(--Verydarkdesaturatedblue);
}

.info-img p {
    font-family: 'Barlow',
        sans-serif;
    color: var(--Darkgrayishblue);
    font-weight: 600;
    font-size: 1.1rem;
    line-height: 1.7rem;
}

.info-img button {
    outline: none;
    border: none;
    background-color: transparent;
    font-family: 'Fraunces',
        serif !important;
    text-transform: uppercase;
    font-weight: 900;
    font-size: 1.2rem;
    color: var(--Verydarkdesaturatedblue);
    padding: 0rem .5rem;
    border-bottom: 3px solid #000;
}

.picture-info {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

.picture-info>img {
    width: 100%;
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
}

.info-container {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 55%;
    height: 100%;
    gap: 1rem;

}

.info-container h3 {
    font-family: 'Fraunces',
        serif !important;
    font-weight: 900;
}

.cyan {
    color: var(--Darkdesaturatedcyan);
}

.blue {
    color: var(--Darkblue);
}


.info-container p {
    text-align: center;
    font-family: 'Barlow',
        sans-serif;
    font-size: 1.1rem;
    font-weight: 500;

}


.container-two {
    background-color: var(--White);
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 7rem;
    gap: 3rem;
}



.cards {

    display: flex;
    gap: 1.6rem;
}

.container-two h3 {
    font-family: 'Fraunces',
        serif !important;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: var(--Grayishblue);
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    width: 30%;
    height: 100%;
}

.card img {
    width: 50px;
    height: 50px;
    border-radius: 100%;
}

.card p {
    text-align: center;
    font-family: 'Barlow',
        sans-serif;
    font-weight: 600;
    color: var(--Verydarkgrayishblue);
    line-height: 2rem;
    font-size: 1rem;

}

.name-job {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .5rem;
}

.name-job span {
    font-family: 'Fraunces',
        serif !important;
}

.name-job p {
    color: var(--Grayishblue);
}


.container-three {
    width: 100%;
    display: flex;
    height: 350px;
}

.container-three img {
    width: 25%;
    height: 100%;
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 4rem;
    gap: 2rem;
    background-color: hsl(168, 34%, 61%);
}

footer h2 {
    font-weight: 900;
    font-family: 'Fraunces',
        serif !important;
    color: var(--Darkdesaturatedcyan);
}

footer ul {
    display: flex;
    gap: 2.5rem;
    margin-bottom: 3rem;
}

footer ul li {
    list-style: none;
}

footer ul li a {
    text-decoration: none;
    color: var(--Darkdesaturatedcyan);
    font-family: 'Barlow',
        sans-serif;
    font-weight: 600;
}

.social-icon {

    margin-top: auto;
    display: flex;
    gap: 2rem;

}


@media screen and (max-width:900px) {

    html {
        font-size: 12px;
    }


    .info-img {
        padding: 5rem;
    }



    .menu {

        position: absolute;
        top: 80px;
        right: 35px;
        flex-direction: column;
        width: 320px;
        padding: 1.5rem;
        padding-top: 4rem;
        background-color: var(--White);
        gap: .5rem;
        display: none;
        overflow: hidden;
    }

    .menu li a {
        color: var(--Darkgrayishblue);
        font-weight: 900;

    }

    .contact {
        background-color: var(--Yellow) !important;
    }



    .contact:hover a {
        color: black !important;
    }

    .hamburger-icon {
        display: block;
    }

    .border {
        width: 330px;
        height: 30px;
        background-color: #3DBEFF;
        top: 0;
        left: -20px;
        position: absolute;
        transform: skewX(-40deg);
    }

    .base-container {
        height: auto;
    }

    .container-two {
        flex-direction: column;
    }

    .container-one>* {
        width: 100%;
    }

    .two {
        order: 1;
    }

    .yellow {
        order: 2;
    }

    .three {
        order: 3;
    }

    .four {
        order: 4;
    }

    .five {
        order: 5;
    }

    .six {
        order: 6;
    }

    .cards {
        flex-direction: column;
    }

    .card {
        width: 100%;
    }

    .container-three {
        flex-direction: column;
        height: auto;
    }

    .container-three img {
        width: 100%;

        object-fit: cover;
    }

    footer {
        margin-top: auto;
        width: 100%;
    }

    .header-caption {
        font-size: 1.2rem;
    }
}